/* Stylesheet für Webseite */
input[type='button']{
    background-color: #c2eafc;
    border-radius: 7px;
    box-shadow: 3px 3px 5px #555555;
    margin: 0 1% 0 0;
}
li {
    float: left;

}
ul {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.active {
    background-color: #04AA6D;
    color: white;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
p {
    font-family: "Droid Sans Mono Dotted";
    font-optical-sizing: auto;
}
h1 {
    text-align: center;
    font-family: Broadway;
    font-size: xxx-large;
    font-optical-sizing: auto;
    color: darkblue;
}
h2 {
    text-align: center;
    font-family: "Britannic Bold";
    font-size: xx-large;
    font-optical-sizing: auto;
}
h3 {
    font-family: "Arial Rounded MT Bold";
    font-size: x-large;
    font-optical-sizing: auto;
}
h4, h5, h6 {
    font-family: "Arial Rounded MT Bold";
    font-size: inherit;
    font-optical-sizing: auto;
}
.small {

}