/* Stylesheet für Webseite */
input[type='button']{
    background-color: #c2eafc;
    border-radius: 7px;
    box-shadow: 3px 3px 5px #555555;
    margin: 0 1% 0 0;
}
li {
    float: left;

}
ul {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.active {
    background-color: #04AA6D;
    color: white;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}