/* Stylesheet für Webseite */
input[type='button']{
    background-color: #c2eafc;
    border-radius: 7px;
    box-shadow: 3px 3px 5px #555555;
    margin: 0 1% 0 0;
}
li.nav-list{
    float: left;

}
ul.navigationbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.active {
    background-color: #04AA6D;
    color: white;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
p {
    font-family: "Droid Sans Mono Dotted", serif;
    font-optical-sizing: auto;
}
h1 {
    text-align: center;
    font-family: "Broadway", sans-serif;
    font-size: xxx-large;
    font-optical-sizing: auto;
    color: darkblue;
}
h2 {
    text-align: center;
    font-family: "Britannic Bold", sans-serif;
    font-size: xx-large;
    font-optical-sizing: auto;
}
h3 {
    font-family: "Arial Rounded MT Bold", sans-serif;
    font-size: x-large;
    font-optical-sizing: auto;
}
h4, h5, h6 {
    font-family: "Arial Rounded MT Bold", sans-serif;
    font-size: inherit;
    font-optical-sizing: auto;
}
.ghost {
    display: none;
}
.tablePermutation  {
    border-collapse:collapse;
    border-spacing:0;
    table-layout: fixed;
    width: 21.3125rem;
}
.tablePermutation td{
    font-family:"Droid Sans Mono Dotted", sans-serif;
    font-size:0.875rem;
    padding:0.625rem 0.3125rem;
    border-style:solid;
    border-width:0.0625rem;
    overflow:hidden;
    word-break:normal;
}
.tablePermutation th{
    font-family:"Droid Sans Mono Dotted", sans-serif;
    font-size:0.875rem;
    font-weight:normal;
    padding:0.625rem 0.3125rem;
    border-style:solid;
    border-width:0.0625rem;
    overflow:hidden;
    word-break:normal;
}
.col1TablePermutation {
    width: 13.1875rem
}
.col2TablePermutation {
    width: 3.9375rem
}
.col3TablePermutation {
    width: 4.1875rem
}
.tableASCIINonPrintable  {
    border-collapse:collapse;
    border-spacing:0;
    table-layout: fixed;
    width: 29.76rem;
}
.tableASCIINonPrintable td{
    font-family:"Droid Sans Mono Dotted", sans-serif;
    font-size:0.875rem;
    padding:0.625rem 0.3125rem;
    border-style:solid;
    border-width:0.0625rem;
    overflow:hidden;
    word-break:normal;
}
.tableASCIINonPrintable th{
    font-family:"Droid Sans Mono Dotted", sans-serif;
    font-size:0.875rem;
    font-weight:normal;
    padding:0.625rem 0.3125rem;
    border-style:solid;
    border-width:0.0625rem;
    overflow:hidden;
    word-break:normal;
}
#col1TableASCIINonPrintable {
    width: 6.19rem
}
#col2TableASCIINonPrintable {
    width: 7.13rem
}
#col3TableASCIINonPrintable {
    width: 5.44rem
}
#col4TableASCIINonPrintable {
    width: 11rem
}
.tableASCIIPrintable  {
    border-collapse:collapse;
    border-spacing:0;
    table-layout: fixed;
    width: 29.76rem;
}
.tableASCIIPrintable td{
    font-family:"Droid Sans Mono Dotted", sans-serif;
    font-size:0.875rem;
    padding:0.625rem 0.3125rem;
    border-style:solid;
    border-width:0.0625rem;
    overflow:hidden;
    word-break:normal;
}
.tableASCIIPrintable th{
    font-family:"Droid Sans Mono Dotted", sans-serif;
    font-size:0.875rem;
    font-weight:normal;
    padding:0.625rem 0.3125rem;
    border-style:solid;
    border-width:0.0625rem;
    overflow:hidden;
    word-break:normal;
}
#col1TableASCIIPrintable {
    width: 6.19rem
}
#col2TableASCIIPrintable {
    width: 7.13em
}
#col3TableASCIIPrintable {
    width: 5.44rem
}
#col4TableASCIIPrintable {
    width: 11rem
}
.tableXOR  {
    border-collapse:collapse;
    border-spacing:0;
    table-layout: fixed;
    width: 20.45rem;
}
.tableXOR td{
    font-family:"Droid Sans Mono Dotted", sans-serif;
    font-size:0.875rem;
    padding:0.625rem 0.3125rem;
    border-style:solid;
    border-width:0.0625rem;
    overflow:hidden;
    word-break:normal;
}
.tableXOR th{
    font-family:"Droid Sans Mono Dotted", sans-serif;
    font-size:0.875rem;
    font-weight:normal;
    padding:0.625rem 0.3125rem;
    border-style:solid;
    border-width:0.0625rem;
    overflow:hidden;
    word-break:normal;
}
.col1TableXOR {
    width: 14.69rem
}
.col2TableXOR {
    width: 1.44rem
}
.col3TableXOR {
    width: 1.44rem
}
.col4TableXOR {
    width: 1.44rem
}
.col4TableXOR {
    width: 1.44rem
}
.tableOneDimensionalArray {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    width: 10.08rem;
}
.tableOneDimensionalArray th{
    font-family:"Droid Sans Mono Dotted", sans-serif;
    font-size:0.875rem;
    font-weight:normal;
    padding:0.625rem 0.3125rem;
    border-style:solid;
    border-width:0.0625rem;
    overflow:hidden;
    word-break:normal;
}
.col1TableOneDimensionalArray {
    width: 1.44rem
}
.col2TableOneDimensionalArray {
    width: 1.44rem
}
.col3TableOneDimensionalArray {
    width: 1.44rem
}
.col4TableOneDimensionalArray {
    width: 1.44rem
}
.col5TableOneDimensionalArray {
    width: 1.44rem
}
.col6TableOneDimensionalArray {
    width: 1.44rem
}
.col7TableOneDimensionalArray {
    width: 1.44rem
}
code {
    background-color: #b6b6be;
    font-family: Fixedsys, "Courier New", monospace;
    text-align: left;
}
samp {
    background-color: #b6b6be;
    text-align: left;
}
.yellow-code_html {
    color: #E8BF6A;
}
.green-code_html {
    color: #A5C261;
}
.green-code_javascript {

}
.yellow-code_javascript {
    color: #FFC66D;
}